<!DOCTYPE html>
<html lang="de">
{{head}}
<body>
{{nav}}
<div class="container">
  <div class="page-header">
    <h1>Willkommen im Freifunk Braunschweig</h1>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <p>Du hast einen Freifunk Braunschweig Hotspot gefunden.</p>
      <div class="col-md-12 panel">
        <img class="img-responsive" width="400" src="/img/bs_ff_hotspot_clean.svg" alt="firmware.freifunk-bs.de">
        </div>
        <p>Hier ist Freifunk Braunschweig verfügbar. Suche einfach mit deinem WLAN fähigen Gerät nach verfügabren WLAN Netzen. Eines davon wird <b>braunschweig.freifunk.net</b> heißen. Verbinde dich mit diesem WLAN und genieße das Braunschweiger Freifunk Netz.</br>
        </br>
        Du kannst nun ohne Angst vor versteckten Kosten oder ähnlichem im Internet unterwegs sein.</br>
        </br>
        Hast du noch Fragen zu Freifunk? Schau doch einfach in unsere <a href="/faq.html">FAQ</a>.</br>
        </br>
        Du findest Freifunk gut und willst selber ein Teil des Braunschweig Freifunk Netzes werden?
        <div class="col-md-4">
          <a class="btn btn-primary btn-lg btn-block" href="/auswahl.html">Mach jetzt bei Freifunk mit!</a>
        </div>
 </p>
      </div>
  </div>
</div>
{{footer}}
</body>
